.css-zpcwqm-MuiStepConnector-root {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: absolute;
    top: 12px;
    left: calc(-55% + 20px) !important;
    right: calc(45% + 20px) !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #3ac346 !important;
}

.orderData {
    padding: 15px;
    border-radius: 20px;
    margin: 28px 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

@media (min-width: 900px) {
    .orders {
        max-width: 1300px !important;
    }
}